AZURE_SUBSCRIPTION_NAME="Non-Sensitive Dev-Test"
AZURE_REGION="northcentralus"
AZURE_RESOURCE_GROUP="digital_nsen_nprod_dcomdev_acs01_ncus_rg"
AZURE_NETWORK_SECURITY_GROUP="DIGITAL-ACS-NSG"
AZURE_TENANT_ID="92cb778e-8ba7-4f34-a011-4ba6e7366996"
AZURE_CONTAINER_REGISTRY="nonprodregistry.azurecr.io"
AZURE_CONTAINER_REGISTRY_SECRET="nonprodregistry"
INGRESS_SERVICE_IP="10.217.128.125"
TRACING_SERVICE_IP="10.217.128.124"
NGINX_SERVICE_IP="10.217.128.123"
GRAFANA_SERVICE_IP="10.217.128.122"
NGINX_AAD_APP_ID="2bdb2a42-27d9-467c-971a-9c443893e368"
SPINNAKER_NAMESPACE="dotcom-app"
AAD_SERVER_APP_ID="31c5379f-bd11-46ba-9961-9ecc5d088556"
AAD_CLIENT_APP_ID="a2b2d898-ce62-4fe6-a680-82121233fad1"
AAD_ADMIN_GROUP_ID="c32a7bc1-2cc2-4d65-bfe5-681a65af95f5"
CLUSTER_AUTOSCALER_MIN_NODES=8
CLUSTER_AUTOSCALER_MAX_NODES=20
WEB_PROXY="wagcorppac-wag1.walgreens.com:8080"
TEMPLATE_PREFIX="dcom-dev-acs"
HEPTIO_ARK_STORAGE_ACCOUNT="wagdotcomdevacs01"
CHEF_BOOTSTRAP_STORAGE_ACCOUNT="wagchefcsencus"
VAULT_API_URL="http://secaux03.walgreens.com:8080/v1"
VAULT_SECRET_KEY_CITADEL="dotcom_dev_wag_istio_issuing_ca_key"
VAULT_SECRET_KEY_INGRESS="dotcom_dev_wag_istio_ingress_url_key"
VAULT_SECRET_KEY_INGRESS_JSONPATH="dotcom_acs_dev_walgreens_com_key"
INGRESS_CERT_FILE="dotcom-acs-dev.walgreens.com.crt"
INGRESS_CERT_KEY="dotcom-acs-dev.walgreens.com.key"
VAULT_SECRET_KEY_INGRESS_CSC="ecomdcp_dev_wag_istio_ingress_url_key"
VAULT_SECRET_KEY_INGRESS_CSC_JSONPATH="ecomdcp_dev_walgreens_com_key"
INGRESS_CSC_CERT_FILE="ecomdcp-dev.walgreens.com.crt"
INGRESS_CSC_CERT_KEY="ecomdcp-dev.walgreens.com.key"
VAULT_SECRET_KEY_INGRESS_PREVIEW="ecompreview1_dev_wag_istio_ingress_url_key"
VAULT_SECRET_KEY_INGRESS_PREVIEW_JSONPATH="ecompreview1_dev_walgreens_com_key"
INGRESS_PREVIEW_CERT_FILE="ecompreview1-dev.walgreens.com.crt"
INGRESS_PREVIEW_CERT_KEY="ecompreview1-dev.walgreens.com.key"
TWISTLOCK_CONSOLE_FQDN="wagaztlmgt.walgreens.com"
CLUSTER_NAME="dcomdev"
VNET_NAME="digital-northcentralus-nonsen-nonprod-vnet-01"
SUBNET_NAME="digital-dev-acs01"
STARTING_IP="10.217.128.25"
ADMIN_ACCOUNT="deadmin"
SERVICE_PRINCIPAL="digital-staging-acs-sp"

